.menu-header {
    background-color: #f12121;
    padding: 10px 0;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#errorMessage{
    color: red;
}

header{
    width: 100%;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}
.menu-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header li {
    display: inline;
    margin-right: 20px;
}

.menu-header a {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.menu-header a:hover {
    color: #ffd700;
    text-shadow: 0 0 15px rgba(231, 236, 230, 0.97);
}


body {
    font-family: Arial, sans-serif;
}

/* Responsive design for multipile screens */

/* Mobile */
@media only screen and (max-width: 599px) {
    .menu-header li {
        display: block;
        margin-bottom: 10px;
    }

    .menu-header {
        padding: 15px;
    }

    .menu-header a {
        font-size: 14px;
    }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .menu-header li {
        display: inline;
        margin-right: 15px;
    }

    .menu-header {
        padding: 12px 0;
    }

    .menu-header a {
        font-size: 16px;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    .menu-header li {
        display: inline;
        margin-right: 20px;
    }

    .menu-header {
        padding: 10px 0;
    }

    .menu-header a {
        font-size: 18px;
    }
}
